.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 24px 70px;
  background-color: var(--background);
}

.styled-image {
  width: 1200px;
  height: 450px;
  border-radius: 16px;
}

.screen-title {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
  text-align: center;
}

.screen-description {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  text-align: justify;
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 72px;
  margin-left: 116px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 8px;
}

.text-number {
  color: var(--primary);
  font-weight: 700;
  margin-right: 8px;
}

.list-text {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  text-align: start;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 24px 70px;
    background-color: var(--background);
  }

  .styled-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    margin: 0;
    background: none;
  }

  .list-container {
    margin-left: 0;
  }
}
